.footer__link-item {
  margin-right: 19px;
}

.footer__link-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 560px) {
  .footer__link-item {
    margin-bottom: 32px;
  }

  .footer__link-item:last-child {
    margin-bottom: 48px;
  }
}
