.place {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  column-gap: 16px;
}


@media screen and (max-width: 510px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
